body{
    margin: 0;
    padding: 0;
    background: url('bg.jpg') no-repeat;
    background-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
h1{
    color: #4AA96C;
    text-align: center;
    margin-top: 5rem;
}
.clock{
    /* background-color: red; */
    height: 25vw;
    width: 25vw; 
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
    position: relative;
    margin-top: 5%;
}
.hand{
    position: absolute;
    background-color:black;
    border-radius: 5px;
}
.hour{
    height: 25%;
    width: 2%;
    left: 48.7%;
    top: 25.1%;
    transform-origin: bottom;

}
.minute{
    height: 31%;
    width: 1%;
    left: 49.25%;
    top: 19%;
    transform-origin: bottom;
    }
.second{
    height: 37%;
    width: 1%;
    left: 49.5%;
    top: 13%;
    transform-origin: bottom;
    left: 49.25%;
    top: 12.9%;
}

